<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Javascript</title>
  <style>
  	.box{
  		width: 200px;
  		height: 200px;
  		padding: 20px;
  		margin: 10px 0;
  		background: #eee;
  		text-align: center;
  	}
  </style>
</head>
<body> 
<p class="copy-me">Lorem ipsum</p>
<div class="box">move the mouse around this box</div>

<p class="copy-me">Lorem ipsum</p>
<p class="copy-me">Lorem ipsum</p>
<p class="copy-me">Lorem ipsum</p>
<p class="copy-me">Lorem ipsum</p>
<p class="copy-me">Lorem ipsum</p>
  
  <script type="text/javascript" th:src="@{/js/ch6/sandbox11.js}"></script>
</body>
</html>